{% extends "base.html" %}

{% block title %}
Login
{% endblock %}

{% block content %}
{% if user.is_authenticated %}
<h3>You are already signed in!</h3>
<a href='{%url 'tasks:logout' %}'>Click to logout</a>
{% else %}
<form method="post" action='{% url 'tasks:signin' %}?next={{ next }}'>
{% csrf_token %}
<label for="username">Username:</label>
<input type="text" name="username" id="username" required>
<br>
<label for="password">Password:</label>
<input type="password" name="password" id="password" required>
<br>
<input type="submit" value="Log in">
</form>
<a href='{%url 'tasks:signup' %}?next={{ next }}'>Don`t have account yet? Sign up</a>
<br>
{% endif %}
{% endblock %}